* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
    background-image: url(/branding.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}
div.white, div.container {
	border-radius: 10px;
	background-color: white;
	background-color: rgba(255, 255, 255, 0.9);
	border: 2px solid #202D60;
	max-width: 800px;
	margin: 0 auto;
    padding: 10px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a:link {
    color: #292A67;
}
a:visted
{
    color: #E0CAEC;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:#202D60;
    text-algin:center;
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:#202D60;
}
h3 {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:#202D60;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #202D60;
}
footer {
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    color:#202D60;
}

ul.posts li {
    list-style: none;
    color:#202D60;
}
