body {
    background-image: url(branding.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #292A67;
}
a:visted
{
    color: #E0CAEC;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:#202D60;
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:#202D60;
}
h3 {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:#202D60;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #202D60;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    color:#202D60;
}

ul.posts li {
    list-style: none;
    color:#202D60;
}
