<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta charset="UTF-8">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
			<div class="white">
	    		<ul>
	        		<li><a href="/" title="Blog Home"><img src="/gdw_logo.png" alt="Blog Home" height="50" width="50" align="middle"></a></li>
	        		<li><a href="http://www.lazym8.com" title="LazyM8"><img src="/lazym8-brand.png" alt="LazyM8" height="50" width="50" align="middle"></a></li>
	    		</ul>
	    		</div>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			<div class="white">
	    			<ul>
					<li><a href="http://geodatawrangler.lazym8.com/blog/atom.xml">RSS feed</a></li>
				</ul>
			</div>
			</footer>
		</body>
	</html>
